<!-- <div class="container">
    <form action="">
        <label for="FirstName">FirstName</label>
        <input type="text">
        <label for="LastName">LastName</label>
        <input type="text"> <br>

        <label for="Street">Street</label>
        <input type="text"> <br>
        <label for="Zip">ZipCode</label>
        <input type="text"> <br>
        <label for="Zip">Phone</label>
        <input type="text"> <br>
        <label for="Zip">Email</label>
        <input type="text">


    </form>
</div> -->

<div class="container" style="background-color: teal">
   
    <div *ngIf="display">
        <label for="white">White</label>
        <input [(ngModel)]="color" id="0" type="radio" name="color" value="white">
        <label for="Black">Black</label>
        <input [(ngModel)]="color" id="1" type="radio" name="color" value="black">
    </div>

    
    <table class="table table-bordered; width:100px"  *ngIf="display">
        <thead class="thead-dark">
            <th style="width: 20%">Image</th>
            <!-- <th>Name</th> -->
            <!-- <th>Type</th>
            <th>size</th> -->
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let image of images   | paginate:{itemsPerPage:12, currentPage:p }"  >
                <td style="height: 50%; "><img [src]="image.url"  [ngStyle]="{'border-color': color}"></td>
                <!-- <td style="height: 50%; " >{{image.name}}</td>
                <td style="height: 50%;" >{{image.Type}}</td>
                <td style="height: 50%;" >{{image.size}}</td> -->
                <td><Button class="btn btn-danger" (click)="deleteImage(image)">Delete</Button></td>
                <!-- <td style="height: 50%;"><a href="javascript.void(0)" (click)="deleteImage(image)"> <i class="fas fa-trash-alt"></i></a>Delete</td> -->
                
            </tr>
        </tbody>
    </table>
    <hr>
    
    <hr>
    <div *ngIf="display" > 
        <button style="background-color: teal; font-weight: bold;">Number of Images Selected: {{numberOfImagesUPloaded}}</button>
        
        total price: {{numberOfImagesUPloaded * price}}
    </div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="">Add Images</label>
            <input style="height:100%" type="file"  (change)="fileUploads($event)" multiple
                class="form-control" >
        </div>

        <!-- <div class="form-group">
            <button type="button" class="btn btn-success" (click)="save()">Button</button>
        </div> -->
        <hr>
        <div class="form-group" *ngIf="display">
            <button type="button" class="btn btn-success" (click)="send()">Button</button>
            <button type="button" class="btn btn-success" (click)="done()"  >Done</button>
            <button type="button" class="btn btn-success" (click)="next()"  >Next</button>
        </div>
        <hr>
       

        <!-- <button (click)="send()">Send</button> -->
    </div>
</div>

    <pagination-controls (pageChange)="p=$event" style="float:right"></pagination-controls>
</div>

<input type="number" name="" [(ngModel)]="finalAmount" id="">
<div id= "paypal-checkout-button"></div>

<div *ngFor="let finalList of finalList">
    
    <app-uploadtask [allFile]="finalList"></app-uploadtask>
    
</div>








